.curtain-wrapper {
  position: fixed;
  inset: 0;
  z-index: 100;
  display: flex;
  pointer-events: none;
}

.curtain {
  flex: 1;
  height: 100%;
  background-color: #000;
  transform: translateY(0%);
  transition: transform 1s cubic-bezier(0.7, 0, 0.3, 1);
}

.curtain.open {
  transform: translateY(-100%);
}
